
    
    <h2 mat-dialog-title>Create New Product</h2>
      <div mat-dialog-content>
      <!-- <a href="#" routerLink="/" class="btn btn-primary">Back</a> -->
      <form [formGroup]="form" (ngSubmit)="saveProduct()">

        <!-- <div class="example-container">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required>
            
          </mat-form-field>
        </div> -->


        <div class="form-group mb-3">
        
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            name="name"
          />
          <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
        </div>
          </div>
     
      
          <div class="form-group mb-3">
            <label for="name">Code</label>
            <input
              type="text"
              class="form-control"
              id="code"
              formControlName="code"
              name="code"
            />
            <div *ngIf="f['code'].touched && f['code'].invalid" class="alert alert-danger">
              <div *ngIf="f['code'].errors && f['code'].errors['required']">Code is required.</div>
          </div>
            </div>
         
          
            <div class="form-group mb-3">
            <label for="category">Category</label>

            <ng-multiselect-dropdown
            [placeholder]="'Category'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedCategories"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
          </ng-multiselect-dropdown>
          
            </div>

    
            <div class="form-group mb-3">
            <label for="exampleFormControlFile1">Image</label>
            <input type="file" class="form-control-file"  formControlName="image" (change)="onFileSelected($event)">

            <!-- <div *ngIf="form.get('image').hasError('maxSizeExceeded')">
              File size exceeds the maximum allowed (2 MB).
            </div> -->
            <!-- <div *ngIf="form.get('image').hasError('invalidExtension')">
              Invalid file extension. Allowed extensions: PNG, JPEG.
            </div> -->

            
          </div>

          <div class="form-group mb-3">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            formControlName="description"
            name="description"
          />
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        </form>
      </div>
