
<h2 mat-dialog-title>Edit Product</h2>
<div mat-dialog-content>
    <!-- <a href="#" routerLink="/" class="btn btn-primary">Back</a> -->
    <form [formGroup]="form" (ngSubmit)="updateProduct()">

      <div class="form-group mb-3">
      
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          name="name"
        />
        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
          <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
      </div>
        </div>
   
    
        <div class="form-group mb-3">
          <label for="name">Code</label>
          <input
            type="text"
            class="form-control"
            id="code"
            formControlName="code"
            name="code"
          />
          <div *ngIf="f['code'].touched && f['code'].invalid" class="alert alert-danger">
            <div *ngIf="f['code'].errors && f['code'].errors['required']">Code is required.</div>
        </div>
          </div>
       
        
          <div class="form-group mb-3">
            <label for="category">Category</label>

            <ng-multiselect-dropdown
            [placeholder]="'Category'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="selectedCategories"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
          </ng-multiselect-dropdown>
          
            </div>
            

          <div class="form-group mb-3">
          <label for="exampleFormControlFile1">Image</label><br>
          <input type="file" class="form-control-file" (change)="onFileSelected($event)" formControlName="image">
        </div>

        <div *ngIf="imageSrc" class="card" style="width: 18rem;">
          <img *ngIf="imageSrc" [src]="'data:image/png;base64,' + imageSrc" alt="Product Image" />
          <!-- <img [src]="'data:image/png;base64,' + product.image" alt="Product Image"> -->
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>

        <div class="form-group mb-3">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          name="description"
        />
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>


  

